<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/modules/animations-extended.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/datatables-select.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/mdb.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>

<body >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar bg-dark shadow-lg sticky-top">
        <div class="text-muted font-weight-normal light-blue-text">

            <div class="container">
                @Html.ActionLink("Home", "Index")
                @Html.ActionLink("Contact", "Contact")
                @Html.ActionLink("About", "About")
                @Html.ActionLink("Dodaj oglas", "Dodaj")
            </div>

        </div>
        <h2 class="text-md-center mdb-color-ic">Auto Oglasi</h2>

        @Html.Partial("/Views/_LoginPartial.cshtml")

    </nav>
    <br />


    <div class="container">
        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

    <div class="col-md-5">
        @RenderSection("SideBar", false)
    </div>
    <br />


    <footer class="footer border-top bottom text-muted text-center">
        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("Contact", "Contact")
        @Html.ActionLink("About", "About")
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>



