
@model WebAppOglas.Models.Automobil

@{
    ViewBag.Title = "Dodaj";
}

<div class="card card-body shadow-lg col-md-8 offset-sm-3">

    <h3 class="card-header bg-primary">Dodaj oglas</h3>

    <div class="col-md-10 offset-sm-1">

        @using (Html.BeginForm("Dodaj", "Home", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
        {
        <hr />
            <div class="card-group">
                @Html.TextBoxFor(m => m.Marka, null, new { @class = "form-control form-control-sm", placeholder = "Marka automobila" })
                @Html.ValidationMessageFor(m => m.Marka, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Godiste, null, new { @class = "form-control form-control-sm", placeholder = "Godiste" })
                @Html.ValidationMessageFor(m => m.Godiste, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.ZapreminaMotora, null, new { @class = "form-control border-bottom form-control-sm", placeholder = "Zapremina motora" })
                @Html.ValidationMessageFor(m => m.ZapreminaMotora, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Snaga, null, new { @class = "form-control form-control-sm", placeholder = "Snaga" })
                @Html.ValidationMessageFor(m => m.Snaga, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Gorivo, null, new { @class = "form-control form-control-sm", placeholder = "Gorivo" })
                @Html.ValidationMessageFor(m => m.Gorivo, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Karoserija, null, new { @class = "form-control form-control-sm", placeholder = "Karoserija" })
                @Html.ValidationMessageFor(m => m.Karoserija, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Opis, null, new { @class = "form-control form-control-sm", placeholder = "Opis" })
                @Html.ValidationMessageFor(m => m.Opis, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Cena, null, new { @class = "form-control form-control-sm", placeholder = "Cena" })
                @Html.ValidationMessageFor(m => m.Cena, null, new { @class = "text-danger" })
                <hr />
                @Html.TextBoxFor(m => m.Kontakt, null, new { @class = "form-control form-control-sm", placeholder = "Kontakt" })
                @Html.ValidationMessageFor(m => m.Kontakt, null, new { @class = "text-danger" })
                <hr />
                <p>

                </p>
                <input asp-for="Fotografija" type="file" name="fotografija" />
            </div>
            <hr />
            <button type="submit" class="btn btn-sm btn-primary right">Save</button>
        }
    </div>
</div>